/* Google Fonts import */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Global styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-image: url(../images/background-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.6;
}

/* Header */

.logo-div {
    display: flex;
    align-items: center;
}

.logo-div i {
    margin-right: 0.5rem;
    color: #e79638;
    font-size: 2em;
}

.logo-div span {
    font-size: 1.5rem;
    font-weight: bold;
}

header {
    text-align: center;
    padding: 1rem;
}

header span,
header p {
    color: #ffffff;
}